* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.selection {
  align-content: space-around;
  flex-wrap: wrap;
  width: 320px;
  height: 12880px;
  flex-direction: column;
  background: #fff;
  display: flex;
  margin: auto;
}
.section-heading {
  padding: 10px;
  color: #2a1804;
  font-family: "Noto Sans TC";
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.shopping-list {
}
.shopping {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.shopping-list-points {
  align-items: center;
}
.shopping-image {
  width: 131px;
  height: 130px;
}
.shopping-heading-text {
  color: #2a1804;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.45px;
}
.shopping-heading-text-price {
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 11px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0.398px;
}
.shopping-heading-text-sum {
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  line-height: 9px;
  letter-spacing: 0.398px;
}
.selection-title {
  padding-right: 100px;
  color: #2a1804;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0.45px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 5px;
}
.selection-input {
  margin-right: 68px;
  width: 89px;
  height: 20px;
  border: 1px solid #2a1804;
}
.selection-title-text {
  padding-left: 7px;
  color: #2a1804;
  font-family: "Noto Serif TC";
  font-size: 11px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.36px;
}
.selection-title-reset {
  margin-left: 5px;
  width: 55px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fbe570;
}
.selection-input-inbox {
  margin-right: 5px;
  width: 59px;
  height: 20px;
  border: 1px solid #2a1804;
}
.shopping-reset {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.shopping-promocode {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.shopping-selection {
  background: #fdf9f1;
  width: 320px;
  height: 77px;
}
.shopping-selection-fresh {
  margin-top: 14px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.shopping-selection-little {
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin-top: 7px;
}
.shopping-heading-text-network {
  padding-right: 5px;
  color: #2a1804;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.45px;
}
.selection-title-little {
  padding-left: 7px;
  color: #2a1804;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.45px;
}
.shopping-countainer {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.shopping-box {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .shopping-selection-little {
    justify-content: flex-end;
  }
  .shopping-reset-promocode {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
  }
  .selection-input-inbox {
    width: 120px;
    height: 30px;
    flex-shrink: 0;
  }
  .shopping-selection {
    width: 1200px;
    flex-shrink: 0;
  }
  .selection {
    width: 1200px;
    height: 11421px;
    flex-shrink: 0;
  }
  .shopping {
    display: flex;
    gap: 37px;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
  }
  .shopping-image {
    width: 199px;
    height: 200px;
    flex-shrink: 0;
  }
  .section-heading {
    padding: 22px;
  }
}
body {
  font-family: "Noto Sans TC";
}

.cookbook {
  padding-bottom: 27px;
}

.container {
}

.cookbook-title {
  color: #2a1804;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 1.68px;
  width: 261px;
  margin: 0 auto;
  padding: 24px;
}

.cookbook-image {
  width: 320px;
  height: 320px;
}

.container-small {
  max-width: 302px;
  margin: 0 auto;
}

.cookbook-text {
  color: #2a1804;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.36px;
}

.cooking {
}

.container_big {
  max-width: 280px;
  margin: 0 auto;
}

.cooking-title {
  text-align: center;
  margin-bottom: 13px;
  color: #2a1804;
  font-size: 24px;
  line-height: 1.99;
  letter-spacing: 0.36px;
}

.list {
}

.list-item {
  margin-bottom: 27px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.cooking-list-item-image {
  margin: 0 auto;
  width: 280px;
  height: 350px;
  margin-bottom: 23px;
}

.cooking-list-item-title {
  text-align: center;
  color: #2a1804;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  margin-bottom: 7px;
}

.cooking-list-item-text {
  text-align: center;
  color: #2a1804;
  font-size: 13px;
  line-height: 1.69;
}

.cooking-image {
  width: 321px;
  height: 261px;
  top: 20px;
  position: relative;
  max-width: fit-content;
  left: -20px;
}

.cooking-flex_box {
}

.cooking-box {
  padding-top: 40px;
  margin-bottom: 10px;
}

.cooking-box-title {
  color: #2a1804;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.48px;
}

.cooking-box-text {
  margin-bottom: 23px;
  color: #2a1804;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.36px;
}

.cooking-button {
  color: #2a1804;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  width: 180px;
  height: 49px;
  border: 1px solid #2a1804;
}
@media (min-width: 1200px) {
  .cookbook-title {
    width: 1088px;
    color: #2a1804;
    font-family: "Noto Sans TC";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px;
    letter-spacing: 1.68px;
  }
  .cookbook-image {
    width: 1140px;
    height: 1140px;
    flex-shrink: 0;
  }
  .cookbook-text {
    width: 752px;
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
  }
  .container-small {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
  }
  .container_big {
    display: flex;
    flex-wrap: wrap;
  }
  .list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cooking-image {
    width: 1139px;
    height: 640px;
    flex-shrink: 0;
  }
  .list {
    display: flex;
  }
  .cooking-list-item-text {
    width: 268px;
  }
  .cooking-title {
    width: 448px;
    color: #2a1804;
    font-size: 37px;
    line-height: 46.2px;
    letter-spacing: 0.36px;
  }
  .cooking-flex_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .cooking-box-text {
    margin: 0;
    padding-right: 186px;
  }
  .cooking-box {
    display: flex;
    flex-wrap: wrap;
  }
}

body {
  font-family: Noto Sans TC;
}
.dumpligs {
  margin-bottom: 25px;
}
.container {
  margin: 0 auto;
  max-width: 320px;
}
.container_big {
  max-width: 280px;
  margin: 0 auto;
}
.container_small {
  max-width: 302px;
  margin: 0 auto;
}
.dumpligs-title {
  text-align: center;
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 1.925;
  letter-spacing: 0.36px;
}
.dumpligs-image {
  margin-bottom: 33px;
  width: 320px;
  height: 221px;
}
.dumpligs-list {
}
.dumpligs-list-item {
  margin-bottom: 23px;
}
.dumpligs-list-item-image {
  margin-bottom: 22px;
  width: 280px;
  height: 350px;
}
.dumpligs-list-item-title {
  margin-bottom: 8px;
  font-size: 22px;
  line-height: 1.25;
  letter-spacing: 0.47px;
}
.dumpligs-list-item-text {
  font-size: 15px;
  line-height: 1.47;
}
.dumpligs-list-item:last-child {
  margin-bottom: 0px;
}
.Latest {
}
.Latest-title {
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 1.44;
  letter-spacing: 0.36px;
}
.Latest-list {
}
.Latest-list-item {
  margin-bottom: 35px;
  display: flex;
  gap: 9px;
}
.Latest-list-item-image {
  width: 70px;
  height: 75px;
}
.Latest-list-item-title {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.47px;
}
.Latest-list-item-text {
  font-size: 12px;
  line-height: 1.25;
}
.popular {
}
.popular-title {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.25;
}
.popular-list {
}
.popular-list-item:first-child {
  margin-bottom: 16px;
}
.popular-list-item-image {
  margin-bottom: 24px;
  width: 320px;
  height: 555px;
}
.popular-list-item-title {
  text-align: center;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: 0.47px;
}
.popular-list-item-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.57;
}
.popular-list-small {
}
.popular-list-small-item {
  text-align: center;
  margin-bottom: 24px;
}
.popular-list-small-item-image {
  margin-bottom: 23px;
  width: 280px;
  height: 350px;
}
.popular-list-small-item-title {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.47px;
}
.popular-list-small-item-text {
  font-size: 14px;
  line-height: 1.57;
}
@media (min-width: 1200px) {
  .dumpligs {
    margin-bottom: 271px;
  }
  .container {
    max-width: 1140px;
  }
  .dumpligs-title {
    margin-bottom: 59px;
    text-align: left;
    font-size: 36px;
    line-height: 1.28;
  }
  .dumpligs-image {
    margin-bottom: 90px;
    width: 1140px;
    height: 641px;
  }
  .container_big {
    max-width: 1020px;
  }
  .dumpligs-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 120px;
    column-gap: 90px;
    width: 1020px;
  }
  .dumpligs-list-item {
    margin-bottom: 0px;
    width: 280px;
  }
  .dumpligs-list-item-image {
    margin-bottom: 23px;
    width: 280px;
    height: 350px;
  }
  .dumpligs-list-item-title {
    margin-bottom: 7px;
    text-align: left;
    font-size: 22px;
    line-height: 1.36;
  }
  .dumpligs-list-item-text {
    font-size: 15px;
    line-height: 1.46;
  }
  .Latest {
    margin-bottom: 205px;
  }
  .container_small {
    max-width: 1140px;
  }
  .Latest-title {
    margin-bottom: 59px;
    font-size: 38px;
    line-height: 1.21;
  }
  .Latest-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 75px;
    column-gap: 40px;
    width: 1140px;
  }
  .Latest-list-item {
    margin-bottom: 0px;
    row-gap: 20px;
    width: 542px;
  }
  .Latest-list-item-image {
    width: 134px;
    height: 134px;
  }
  .Latest-list-item-title {
    margin-bottom: 10px;
    font-size: 23px;
    line-height: 1.36;
  }
  .Latest-list-item-text {
    font-size: 14px;
    line-height: 1.57;
  }
  .popular {
    margin-bottom: 279px;
  }
  .popular-title {
    margin-bottom: 59px;
    font-size: 38px;
    line-height: 1.21;
  }
  .popular-list {
    justify-content: center;
    margin-bottom: 194px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 38px;
  }
  .popular-list-item {
    width: 497px;
  }
  .popular-list-item-image {
    margin-bottom: 30px;
    width: 497px;
    height: 555px;
  }
  .popular-list-item-title {
    margin-bottom: 33px;
    font-size: 21px;
    line-height: 1.42;
  }
  .popular-list-item-text {
    font-size: 15px;
    line-height: 1.46;
  }
  .popular-list-small {
    display: flex;
    flex-wrap: wrap;
    column-gap: 90px;
    width: 1020px;
  }
  .popular-list-small-item {
    margin-bottom: 0px;
    width: 280px;
  }
  .popular-list-small-item-image {
    margin-bottom: 20px;
    width: 280px;
    height: 350px;
  }
  .popular-list-small-item-title {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.36;
  }
  .popular-list-small-item-text {
    font-size: 14px;
    line-height: 1.57;
  }
}
